*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    color: #FFFFFF;
    font-size: 64px;
    max-width: 788px;
    margin-bottom: 32px;    
}

.top__title {
    padding-top: 218px;
    padding-bottom: 682px;
}


.top__text {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 44px;
    max-width: 481px;   
}

.top__text_new {
    font-weight: 700;
}

.button {
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: 
    #9C0332;
    width: 234px;
    height: 48px;
    &:hover {
       background-color: #EB443F;
    }    
}

.product__content {
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    gap: 32px;   
    background-image: url(img/Rectangle\ 5.jpg);
}

.product {
    border-radius: 16px;
    width: 378px;
    height: 300px;
    &:hover {
        outline: 3px solid #44D2FF;
    }
}

.section {
    background-image: url(img/Rectangle\ 6.jpg);
    padding-top: 282px;
    padding-bottom: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__heading {
        padding-right: 135px;
        
    }
}

.heading {    
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 32px;
    &__text {
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 300;
        margin-bottom: 32px;
    }    
    &__img {
        width: 485px;
        height: 333px;
    }    
}

@import 'mobile';